@import './mixins/desktop';
@import './variables/colors';
@import './variables/fonts';

.History-heading {
  font-family: $font-Raleway;
  font-size: 30px;
}

.History-name {
  color: black;
  font-family: $font-Open-Sans;
  font-size: 16px;
  border: none;
  outline: none;
}

.History-container a {
  text-decoration: none;
}
