@import './mixins/desktop';
@import './variables/colors';
@import './variables/fonts';

.LogCard-container {
  padding-top: 30px !important;
  text-align: center !important;
  background-color: white !important;
  color: black;
  opacity: 0.8;
  padding-bottom: 0px !important;
}

.LogCard-title {
  font-family: $font-Raleway;
  padding-bottom: 10px;
}

.LogCard-separator {
  background-color: lightgray;
  margin: 20px;
  height: 2px;
}

.LogCard-submit-container {
  color: white;
  text-align: center;
}

.LogCard-submit {
  font-family: $font-Open-Sans;
  font-size: 20px;
  color: $color-white;
  background-color: lightgrey;
  border: none;
  border-radius: 30px;
  outline: none;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.LogCard-submit-container button:hover {
  background-color: $color-pale-pink;
}

.LogCard-submit:focus {
  outline: none !important;
  box-shadow: none !important;
}

.LogCard-submit:active {
  box-shadow: 0 5px gray;
  transform: translateY(2px);
  outline: none !important;
}

// .App-submit:hover {
//   opacity: 0.9;
//   background-color: #eecbc7;
// }

// .App-submit:active {
//   background-color: #eecbc7;
//   box-shadow: 0 5px #e4a2a4;
//   transform: translateY(3px);
// }

// .App-link {
//   text-decoration: none;
//   color: $color-white;
// }
